{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Mon profil</h2>
        </div>
        <div class="panel-body">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            <p>Prénom: {{ user.firstName }}</p>
            <p>Nom: {{ user.lastName }}</p>
            <p>Photo de profil :
                {% if user.imageName == null %}
                    Pas de photo de profil.
                {% else %}
                    <img width="150px" src="{{ asset(vich_uploader_asset(user, 'imageFile')) }}" alt="{{ user.username }}" class="img-responsive img-thumbnail center-block">
                {% endif %}
            </p>
            <p class="text-center">
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default">
                    Modifier le profil
                </a>
            </p>
        </div>
    </div>
</div>
