<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Snowtricks{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="{{ asset('bundles/stplatform/css/style.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>

<body>
<div class="container">
    <div class="header clearfix">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('st_platform_homepage') }}"><strong>Snowtricks</strong></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('st_platform_homepage') }}">Home</a></li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li><a href="{{ path('st_platform_add') }}">Créer un trick</a></li>
                            <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {% block body %}
    {% endblock %}

    <footer class="footer">
        <p>&copy; 2017 Snowtricks</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>