{% extends "STPlatformBundle::layout.html.twig" %}

{% block title %}{{ trick.name }} - {{ parent() }}{% endblock %}

{% block stplatform_body %}
    {#Si l’utilisateur est connecté, il pourra cliquer sur :
    une petit icône en forme de stylo situé juste à côté du nom qui redirigera l’utilisateur vers un formulaire de modification de figure ;
    une corbeille située juste à côté du nom pour supprimer la figure.#}
    <h1>{{ trick.name }}</h1>
    <p>Groupe : {{ trick.trickgroup.name }}</p>

    <div class="well">
        {{ trick.description }}
    </div>

    {# liste photos #}
    {# liste vidéos #}
    {# liste commentaires #}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="well">
            {{ form(form) }}
            {# form ajout commentaire #}
        </div>
    {% endif %}

    <p>
        <a href="{{ path('st_platform_homepage') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    </p>
{% endblock %}